.log > img {
    display: block;
    height: 6rem;
    margin: 0.5rem 0.5rem;
}

.titulo {
    color: var(---color16);
}

.titulo > h1 {
    font-family: 'Nunito Sans', sans-serif;
    text-shadow: 5px 5px 3px var(---color13);
    margin-top: 5rem;
    text-align: center;
    font-size: 1.9rem;
}

.Bienvenida {
    font-family: 'Nunito Sans', sans-serif;
}
.Bienvenida > h1 {
    color: var(---color16);
    font-size: 1.3rem;
    display: block;
    text-align: center;
    margin: 3.5rem 2rem;    
}

.Bienvenida_btn {
    margin-top: 7rem;
}

.Bienvenida_btn > a {
    text-decoration: none;
    display: block;

    text-align: center;

    font-size: 1.2rem;
    text-shadow: 3px 3px 1px var(---color13);
    border: 2px solid var(---color16);
    background-color: var(---color11);
    box-shadow: 1px 1px 6px 9px var(---color5);
    border-radius: 1rem;

    padding: 1.5rem 2rem;
    height: 5rem;

    margin: 3rem 7rem;
    cursor: pointer;
    color: var(---color16);
    font-family: 'Nunito Sans', sans-serif;
}

.Bienvenida_btn :hover {
    transition: 0.2s;
    box-shadow: 1px 0px 3px 15px var(---color7);
    background-color: var(---color14);
    text-shadow: 3px 3px 1px var(---color13);
    color: var(---color39);
}