html {
    background: linear-gradient(to right, var(---color41), var(---color42));
}

/* Estilos para el carrito de compras */
.carro {
    margin-top: 20px;
}
.carro > h2 {
    font-size: 2.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
    text-align: center;
    color: white;
}

.carro-lista {
    list-style-type: none;
    padding: 1rem 1rem;
    margin-top: 2rem;
    display: block;
    width: auto;
}

.mensaje_no > h3 {
    padding-top: 2.5rem;
    color: white;
    text-align: center;
}
.mensaje_no {
    background-color: var(---color43);
    text-align: center;
}
.mensaje_no > p {
    padding-top: 2.5rem;
    color: white;
    text-align: center;
}
.mensaje_no > img {
    padding-top: 2rem;
}

.carro-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 1rem;
    border: 1px solid #ccc;

    
    background-color: var(---color43);
}

.carro-item img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin: 0rem 0.3rem;
}

.carro-item > .txt {
    color: white;
    margin: 0rem 0.3rem;
}

.carro-item > button {
    outline: 0;
    border: 2px solid var(---color16);

    color: var(---color16);
    background-color: var(---color24);
    padding: 15px;
    margin: 0rem 0.3rem;
    border-radius: 0.7rem;
    cursor: pointer;

    height: 4rem;
}

/* Resto de estilos... */

.choosen {
    font-size: 2.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
    text-align: center;
    color: white;
    margin-top: 4rem;
}

.logos {
    margin-top: 3rem;

    display: block;
    align-items: center;
    text-align: center;
    height: auto;
}

.logos > .logo {
    display: block;
    cursor: pointer;

    width: 15rem;
    margin: 4rem;
    background-color:  var(---color40);
    margin-top: 1rem;
    border-radius: 2rem;
    border: 2px solid white;
}

.logo > img {
    height: 8rem;
    align-self: center;
}

@media (min-width: 380px) and (max-width: 400px) {
    .logos > .logo {
        display: block;
        cursor: pointer;
    
        width: 15rem;
        margin: 4rem;
        background-color:  var(---color40);
        margin-top: 1rem;
        border-radius: 2rem;
        border: 2px solid white;
    }
    
    .logo > img {
        height: 8rem;
        align-self: center;
    }
}
@media (min-width: 435px) and (max-width: 501px) {
    .logos > .logo {
        display: block;
        cursor: pointer;
    
        width: 15rem;
        margin: 4rem 7rem;
        background-color:  var(---color40);
        margin-top: 1rem;
        border-radius: 2rem;
        border: 2px solid white;
    }
    
    .logo > img {
        height: 8rem;
        align-self: center;
    }
}
@media (min-width: 502px) and (max-width: 550px) {
    .logos > .logo {
        display: block;
        cursor: pointer;
    
        width: 15rem;
        margin: 4rem 9rem;
        background-color:  var(---color40);
        margin-top: 1rem;
        border-radius: 2rem;
        border: 2px solid white;
    }
    
    .logo > img {
        height: 8rem;
        align-self: center;
    }
}
@media (min-width: 551px) and (max-width: 640px) {
    .logos > .logo {
        display: block;
        cursor: pointer;
    
        width: 15rem;
        margin: 4rem 11rem;
        background-color:  var(---color40);
        margin-top: 1rem;
        border-radius: 2rem;
        border: 2px solid white;
    }
    
    .logo > img {
        height: 8rem;
        align-self: center;
    }
}
@media (min-width: 641px) and (max-width: 740px) {
    
    .logos {
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        margin: 2rem;
    }

    .logos > .logo {
        display: block;
        cursor: pointer;
    
        width: 15rem;
        margin: 4rem 1rem;
        background-color:  var(---color40);
        margin-top: 1rem;
        border-radius: 2rem;
        border: 2px solid white;
    }
    
    .logo > img {
        height: 8rem;
        align-self: center;
    }
}
@media (min-width: 741px) and (max-width: 840px) {
    
    .logos {
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        margin: 2rem 8rem;
    }

    .logos > .logo {
        display: block;
        cursor: pointer;
    
        width: 15rem;
        margin: 4rem 1rem;
        background-color:  var(---color40);
        margin-top: 1rem;
        border-radius: 2rem;
        border: 2px solid white;
    }
    
    .logo > img {
        height: 8rem;
        align-self: center;
    }
}
@media (min-width: 841px) and (max-width: 940px) {
    
    .logos {
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        margin: 2rem 11rem;
    }

    .logos > .logo {
        display: block;
        cursor: pointer;
    
        width: 15rem;
        margin: 4rem 1rem;
        background-color:  var(---color40);
        margin-top: 1rem;
        border-radius: 2rem;
        border: 2px solid white;
    }
    
    .logo > img {
        height: 8rem;
        align-self: center;
    }
}
@media (min-width: 941px) and (max-width: 1040px) {
    
    .logos {
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        margin: 2rem 14rem;
    }

    .logos > .logo {
        display: block;
        cursor: pointer;
    
        width: 15rem;
        margin: 4rem 1rem;
        background-color:  var(---color40);
        margin-top: 1rem;
        border-radius: 2rem;
        border: 2px solid white;
    }
    
    .logo > img {
        height: 8rem;
        align-self: center;
    }
}
@media (min-width: 941px) and (max-width: 1440px) {
    
    .logos {
        display: grid;
        grid-template-columns: repeat(4, 2fr);
        margin: 2rem 4rem;
    }

    .logos > .logo {
        display: block;
        cursor: pointer;
    
        width: 14rem;
        margin: 4rem 1rem;
        background-color:  var(---color40);
        margin-top: 1rem;
        border-radius: 2rem;
        border: 2px solid white;
    }
    
    .logo > img {
        height: 8rem;
        align-self: center;
    }
}