html {
    background: linear-gradient(to right, var(---color11), var(---color39));
}

/*SLIDER*/
.slider {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
  z-index: 0;
}

.slider-wrapper {
  display: flex;
  transition: transform 2s ease-in-out;
}
   
.slider img {
  width: 100%;
  height: 30rem;
  flex-shrink: 0;
}

/*Sección Under*/

.under {
    margin-top: 2rem;
}

.h1-añadido {
    color: var(---color16);
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.5rem;
    text-align: center;
    text-shadow: 4px 4px 2px var(---color13);
    margin: 2rem 2rem;
}

.p-añadido {
    color: var(---color16);
    font-family: 'Ubuntu', sans-serif;
    font-size: 1rem;
    text-align: center;
    margin: 2rem 2rem;
}

.p-añadido > h4 {
    margin-top: 2rem;
    color: var(---color16);
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1rem;
    text-align: center;
    margin: 2rem 2rem;
}

/* Sección de cajas de añadidos*/

.caja1 {
    align-items: center;
    text-align: center;
    margin: 2rem 0.7rem;
    background-color: var(---color17);
}
.caja1 > img {
    height: 15rem;
    width: 15rem;
}

.caja2 {
    align-items: center;
    text-align: center;
    margin: 2rem 0.7rem;
    background-color: var(---color17);
}
.caja2 > img {
    height: 15rem;
    width: 15rem;
}

.caja3 {
    align-items: center;
    text-align: center;
    margin: 2rem 0.7rem;
    background-color: var(---color17);
}
.caja3 > img {
    height: 15rem;
    width: 15rem;
}

.caja4 {
    align-items: center;
    text-align: center;
    margin: 2rem 0.7rem;
    background-color: var(---color17);
}
.caja4 > img {
    height: 15rem;
    width: 15rem;
}
