html {
    background: linear-gradient(to right, var(---color11), var(---color39));
}

/*Sección header*/

.barra_superior {
    background-color: var(---color39);
    display:flex;
    width: 100%;
}

.barra_superior > .menu > a > img {
    height: 3rem;
    display: block;
    padding: 0;
}

.barra_superior > .principal > a > img {
    height: 3rem;
    display: block;
}

.barra_superior > .perfil > a > img {
    height: 3rem;
    display: block;
}

.barra_superior > .ajustes > a > img {
    height: 3rem;
    display: block;
}

/*Sección Under*/

.under {
    margin-top: 6rem;
}

.h1-añadido {
    color: var(---color16);
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.5rem;
    text-align: center;
    text-shadow: 4px 4px 2px var(---color13);
    margin: 2rem 2rem;
}

.p-añadido {
    color: var(---color16);
    font-family: 'Ubuntu', sans-serif;
    font-size: 1rem;
    text-align: center;
    margin: 2rem 2rem;
}

.p-añadido > h4 {
    margin-top: 2rem;
    color: var(---color16);
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1rem;
    text-align: center;
    margin: 2rem 2rem;
}

/* Sección de cajas de añadidos*/

.caja1 {
    align-items: center;
    text-align: center;
    margin: 2rem 0.7rem;
}
.caja1 > img {
    height: 15rem;
    width: 15rem;
}

.caja2 {
    text-align: center;
}
.caja2 > img {
    height: 15rem;
    width: 15rem;
}

.caja3 {
    text-align: center;
}
.caja3 > img {
    height: 15rem;
    width: 15rem;
}

.caja4 {
    text-align: center;
}
.caja4 > img {
    height: 15rem;
    width: 15rem;
}