html {
    background: linear-gradient(to right, var(---color11), var(---color39));
}
/*Sección header*/

.barra_superior > .logos{
    background-color: var(---color22);
    display:flex;
    width: 100%;
    height: 4rem;
    min-width: 350px;
    max-width: 370px;
}

.logos > .menu > a > img {
    height: 3rem;
    display: block;
    padding: 0;
    margin-top: 5px;
}

.logos > .principal > a > img {
    height: 3rem;
    display: block;
    margin-top: 5px;
}

.logos > .perfil > a > img {
    height: 3rem;
    display: block;
    margin-top: 5px;
}

.logos > .ajustes > a > img {
    height: 3rem;
    display: block;
    margin-top: 5px;
}
