.img1 {
    background-image: url(./../img_slider/trading1-elemento.png);
    align-items: center;
}

.img1 > .txt > p {
    color: white;
}

.img2 {
    background-image: url(./../img_slider/trading2-elemento.png);
}

.img2 > .txt > p {
    color: white;
}

.img3 {
    background-image: url(./../img_slider/trading3-elemento.png);
}

.img3 > .txt > p {
    color: white;
}
.img4 {
    background-image: url(./../img_slider/trading4-elemento.png);
}

.img4 > .txt > p {
    color: black;
}